<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"/>
</head>
<body>
<form th:action="@{/login}" method="post" style="max-width: 350px; margin: 20px auto;">
    <div class="border border-secondary p-3 rounded">
        <p>Пожалуйста, авторизуйтесь</p>
        <div class="alert alert-danger text-center" th:if="${param.error}">Неправильное имя или пароль</div>
        <div class="alert alert-success text-center" th:if="${param.logout}">Вы вышли из аккаунта</div>
        <p>
            <label>
                <input type="text" name="username" class="form-control" placeholder="Name" required autofocus/>
            </label>
        </p>
        <p>
            <label>
                <input type="password" name="password" class="form-control" placeholder="Password" required/>
            </label>
        </p>
        <p>
            <input type="submit" value="Вход" class="btn btn-primary"/>
            <a style="text-align: right" href="/registration" class="btn btn-primary">Регистрация </a>
        </p>
    </div>
</form>
</body>
</html>